.banner-wrap {
	display: grid;
	font-family: "Merriweather", sans-serif;
	font-size: 15px;
	text-align: center;
	display: grid;
	grid-template-rows: 80px 60px 30px;
	padding: 20px;
	background-color: #f2f2f2;
	color: #797979;

	div:first-child {
		display: grid;
		align-self: flex-end;
		font-size: 22px;
		text-decoration: underline;
		font-weight: 700;
	}

	div:nth-child(2) {
		display: grid;
		align-self: center;
		font-size: 34px;
		font-family: "Roboto";
	}

	div:nth-child(3) {
		display: grid;
		align-self: flex-end;
		font-size: 14px;
		opacity: 0.7;
		align-self: auto;
		font-family: "Roboto";
	}
}
